{% extends 'base.html' %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title">About Our Company</h1>
                <hr>
            </div>
            <div class="col-12 col-lg-8">
                <p class="text">
                    Specialising in the sourcing of the most exceptional of fine art and antiques, London antique dealer
                    We have earned a stellar reputation for discriminating taste and offers an unparalleled
                    inventory of unusual, rare and beautiful antiques, curiosities and fine art for private clientele as
                    well as interior designers.
                </p>
                <p class="text">
                    With over twenty years in the field, our founder began his career working with the renowned antique
                    London antiques dealer Mallett at Bourdon House in Mayfair, developing expertise in continental
                    antique furniture and works of art as well as important English antique furniture. Our founder also
                    worked for Jonathan Horne – a renowned specialist in early English Staffordshire Pottery in
                    Kensington Church Street.
                </p>
                <p class="text">
                    Today, Our founders are a recognised specialist in fine antiques, art, decorative furniture, and
                    unusual objects from the 18th and 19th centuries with a particular focus on Japanese, Egyptian,
                    French and English
                    pieces of unusually high quality and design. The extensive inventory allows the dealer to serve
                    clientele of varying tastes and budgets.
                </p>
                <p class="text"><small> We maintain the collection in London, and antiques can be seen by
                        appointment.</small></p>
            </div>
            <div class="col-12 col-lg-4 a-img-cont">
                <img class="img-fluid" src="{{MEDIA_URL}}images/others.jpg" alt="A table with glassware">
            </div>
        </div>
    </div>
</section>
{% endblock %}