{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="img-container" id='landing'>
    <div class="mobileonly d-md-none">
        <h1 class="title landing-title">Antiques, Curiouse & Artefacts</h1>
    </div>
    <img src="{% static 'images/atlas.jpeg'%}" alt="Atlas and compass" class="img landing-image img-fluid">
    <div class="centered d-none d-md-block">
        <h1 class="title landing-title">Antiques, Curiouse & Artefacts</h1>
    </div>
    <div class="bottom-right">
        <h4 class="title">
            <a class="link-unstyled titl-tran" href="{% url 'products' %}">Continue to all products
                <i class="fas fa-arrow-right"></i>
            </a>
        </h4>
    </div>
    <div class="row">
        <div class="col justify-content-center about">
            <h2 class="title">
                Our Products
            </h2>
            <p>
                We take great pride in sourcing our products from collections and museums from around the world,
                collectors, this is the place for you to find your perfect talking pieces.
            </p>
            <p>
                Founded in 2009 our company has helped bespoke orders from collectors from over 80 countries, and we'd
                be happy to help you source an antique.
            </p>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container categories">
        <div class="categories">
            <div class="row">
                {% for category in category %}
                <div class="col-sm">
                    <div class="cat-container text-center">
                        {% if category.category == 'Arms & Armour' %}
                        <a class="link-unstyled" href="{% url 'products'%}?category=Arms+%26+Armour">
                            <h2 class="title">{{ category.category }}</h2>
                            <img class="info-image" src="{{MEDIA_URL}}{{category.image}}" alt="{{category.category}}">
                        </a>
                        {% else %}
                        <a class="link-unstyled" href="{% url 'products' %}?category={{category.category}}">
                            <h2 class="title">{{ category.category }}</h2>
                            <img class="info-image" src="{{MEDIA_URL}}{{category.image}}" alt="{{category.category}}">
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}