{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="img-container" id='landing'>
    <img src="{% static 'images/atlas.jpeg'%}" alt="Atlas and compass" class="img landing-image">
    <div class="centered">
        <h1 class="title landing-title">Antiques, Curiouse & Artefacts</h1>
        <p>Antiquities and curiousities sourced from around the world.</p>
        <p>Scroll down to learn more</p>
    </div>
</div>
<br>
<div class="container-fluid bar">
    <div class="container">
        <h4><a href="{% url 'products' %}">Continue to all products <i class="fas fa-arrow-right"></i></a></h4>
    </div>
</div>
<div class="container categories">

    <div class="categories">
        {% for category in category %}
        <div class="row row-flex cat-row">
            <div class="col cat-col">
                <img class="info-image" src="{{MEDIA_URL}}{{category.image}}" alt="{{category.category}}">
            </div>
            <div class="col">
                <h2 class="title">{{ category.category }}</h2>
                <p class="text">{{category.description}}</p>
                {% if category._id == 3 %}
                <p><a class="link-unstyled" href="">See More:</a></p>
                {% else %}
                <p><a class="link-unstyled" href="{% url 'products' %}?category={{category.category}}">See More:</a></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}