{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="img-container">
    <img src="{% static 'images/atlas.jpeg'%}" alt="Atlas and compass" class="img landing-image">
    <div class="centered">
        <h1 class="title landing-title">Antiques, Curiouse & Artefacts</h1>
        <p>Antiquities and curiousities sourced from around the world.</p>
    </div>
</div>
<div class="container">
    <div class="row row-flex">  
        
        {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="card">
                <div class="panel-body">
                    <img src="{{MEDIA_URL}}{{product.image}}" alt="{{product.title}}" class="card-img-top">
                    <div class="card-body">
                        <h3>{{ product.name }}</h3>
                        <p class="product-description">{{ product.summary }}</p>
                        <p>{{ product.price }}</p>
                        <p>{{ product.category }}</p>
                        <a href="{% url 'more info' product.id%} ">More info</a>
                        <form method="POST" class="add-prod" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group" class="quantity">
                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                    placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}