@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:500|Norican&display=swap");
/* Colors */
/* Mixins */
/* Navbar */
#navbar {
  overflow: hidden;
  background-color: #F2F2F2;
  box-shadow: 0px 2px #404040; }

#searchbar {
  justify-content: center;
  align-content: center; }

.sticky {
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 999;
  opacity: 1; }

.cart-link {
  color: #404040 !important; }

.fa-stack[data-count]::before {
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count integer);
  font-size: 30%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #404040;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: red;
  border-style: solid; }

.fa-circle {
  color: #DF0000; }

.btn-success {
  background-color: #404040;
  border-color: #404040;
  color: #F2F2F2; }
  .btn-success:hover, .btn-success:active {
    color: #0d0d0d;
    background-color: #bfbfbf;
    border-color: #bfbfbf; }

.btn-primary {
  background-color: #F2D0A7;
  border-color: #F2D0A7;
  color: #404040; }
  .btn-primary:hover, .btn-primary:active {
    background-color: #0d2f58;
    border-color: #0d2f58;
    color: #F2D0A7; }

/* Main */
body,
html {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  height: 100%;
  font-family: 'Arima Maduri', sans-serif;
  font-weight: 500;
  background-color: #F2F2F2; }

.push {
  padding-top: 120px !important; }

.landing-title {
  color: black;
  font-size: 52px;
  text-shadow: 1px 2px white; }

.landing-text {
  color: black;
  font-size: 19px; }

.title {
  font-family: 'Norican', sans-serif;
  font-weight: 500;
  text-transform: capitalize; }

.img-container {
  min-width: 100%;
  position: relative;
  text-align: center;
  padding-top: 120px; }

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: black; }

.landing-image {
  height: 40rem;
  border-radius: 27px; }

.about {
  padding-top: 25px; }

.categories {
  padding-top: 15px; }

.info-image {
  width: 350px;
  height: 350px;
  align-items: center;
  border-radius: 20px; }

.cat-row {
  padding: 14px; }

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit; }

.cat-container {
  /* padding: 4px; */
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  padding-top: 12px;
  padding-bottom: 25px; }
  .cat-container:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

/* Product Styles */
.form-group {
  display: inline; }

.info-container {
  margin: 4px 10px;
  padding-bottom: 20px;
  padding-top: 12px; }

.title-card {
  padding-top: 50px;
  padding-bottom: 25px; }

.prod-section {
  padding: 16px;
  margin-top: 12px; }

.product-image {
  width: 240px;
  height: 240px;
  border-radius: 15px;
  padding: 2px 4px; }

.description-col {
  padding: 4px 4px;
  margin: 4px 10px; }

.desc-card {
  padding: 10px; }

.panel-default {
  border-color: transparent;
  padding: 10px 7px;
  border: 4px; }

.card:hover {
  -webkit-box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
  box-shadow: 0 9px 7px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23); }

.panel-body {
  height: 100%;
  background-color: white; }
  .panel-body:hover {
    transition: 0.4s all ease-in-out;
    background-color: #404040;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    border: #404040;
    color: #F2F2F2; }

.card-img-top {
  max-height: 250px;
  min-height: 250px;
  border-radius: inherit; }

#quantity-bar {
  width: 40%;
  max-width: 40%; }

.detail-image {
  width: 100%;
  border-radius: 12px; }

#basket-section {
  padding-top: 350px; }

.desc-area {
  margin-top: 25px; }

/* Pagination Styling */
.page-link {
  background-color: #404040;
  border-color: #404040;
  color: #F2F2F2; }
  .page-link:hover, .page-link:active {
    color: #0d0d0d;
    background-color: #bfbfbf;
    border-color: #bfbfbf; }

/* Profile Styles */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px; }

/* Cart Styling */
.cart-image {
  width: 300px;
  height: 300px; }

/* Checkout Styling */
/* Footer */
#sticky-footer {
  flex-shrink: none;
  background-color: #404040; }

.unordered {
  list-style-type: none; }

/* Media Queries */
/* Phones here */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  /* Landing Styles */
  .img-container {
    padding-top: 80px; }

  .landing-image {
    width: 100%;
    height: inherit;
    border-radius: 0px; }

  .bottom-right {
    position: relative;
    padding-top: 12px;
    padding-left: 35px; }

  .about {
    padding-top: 25px;
    padding-left: 23px; }

  .categories {
    padding-bottom: 24px; }

  .cat-container {
    width: 100%; }

  /* All Products  */
  .prod-section {
    padding-top: 75px; }

  .mbv-bar {
    width: 70%;
    margin-right: 12px; } }
/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .landing-image {
    height: 40rem;
    border-radius: 27px;
    margin-left: 4px;
    margin-right: -12px; }

  .bottom-right {
    position: relative;
    padding-top: 12px;
    padding-left: 35px; }

  .info-image {
    width: 275px;
    height: 250px;
    align-items: center;
    border-radius: 20px; } }

/*# sourceMappingURL=main.css.map */
