@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:500|Norican&display=swap");
/* Colors */
/* Mixins */
/* Navbar */
#navbar {
  overflow: hidden;
  background-color: #F2F2F2; }

#searchbar {
  justify-content: center;
  align-content: center; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  opacity: 0.8; }

.cart-link {
  color: #404040 !important; }

/* Main */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arima Maduri', sans-serif;
  font-weight: 500;
  background-color: #F2F2F2; }

.push {
  padding-top: 120px !important; }

.landing-title {
  color: black;
  font-size: 52px;
  text-shadow: 1px 2px white; }

.landing-text {
  color: black;
  font-size: 19px; }

.title {
  font-family: 'Norican', sans-serif;
  font-weight: 500; }

.img-container {
  min-width: 100% !important;
  min-height: 100% !important;
  position: relative;
  text-align: center;
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); }

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: black; }

.landing-image {
  max-width: 100%;
  max-height: 80%; }

.categories {
  padding-top: 15px; }

.info-image {
  width: 350px !important;
  height: 350px !important;
  align-items: center;
  border-radius: 20px; }

.cat-row {
  padding: 14px; }

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  padding: inherit;
  vertical-align: inherit; }

.cat-container {
  padding: 4px;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
  .cat-container:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

/* Content */
/* Product Styles */
.info-container {
  margin: 4px 10px; }

.title-card {
  padding-top: 50px;
  padding-bottom: 25px; }

.product-image {
  width: 240px;
  height: 240px;
  border-radius: 15px;
  padding: 2px 4px; }

.description-col {
  padding: 4px 4px;
  margin: 4px 10px; }

.desc-card {
  padding: 10px; }

.panel-default {
  border-color: transparent;
  padding: 0 10px; }

.panel-body {
  height: 100%;
  border: 1px solid #ddd; }

.card-img-top {
  max-height: 250px;
  min-height: 250px; }

/* Profile Styles */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px; }

/* Cart Styling */
.cart-image {
  width: 300px;
  height: 300px; }

/* Checkout Styling */
/* Footer */
#sticky-footer {
  flex-shrink: none;
  background-color: #404040; }

.unordered {
  list-style-type: none; }

/* Media Queries */

/*# sourceMappingURL=main.css.map */
