{% extends 'base.html' %}
{% block content %}
<section class="container prod-section">
    <div class="row">
        <ul class="ml-auto">
            <!-- Filter Products by category -->
            <form action="{% url 'products' %}" method="GET">
                {% csrf_token %}
                {% for category in category %}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="category" value="{{ category.category }}"
                            id="{{ category.category }}">
                        <label class="fil-label form-check-label"
                            for="{{ category.category }}">{{category.category}}</label>
                    </div>
                </div>
                {% endfor %}
                {% if category %}
                <button action="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Filter</button>
                {% endif %}
            </form>
        </ul>
    </div>
    <!-- Mobile Search bar-->
    <div class="mbv-search d-md-none">
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
            <input class="form-control mbv-bar" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </form>
    </div>
    <div class="row row-flex">
        <div class="col">
            <h2>Your Browsing {% if category %} {{category.category}} {% else %} All Products {% endif %}</h2>
        </div>
        <div class="col"></div>
        <div class="card-group">
            {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 panel panel-default">
                <div class="card mb-4 h-100">
                    <div class="panel-body">
                        <a href="{% url 'more info' product.id%}" class="link-unstyled">
                            <img src="{{MEDIA_URL}}{{product.image}}" alt="{{product.title}}"
                                class="card-img-top img-fluid">
                            <div class="card-body">
                                <h5>{{ product.title }}</h5>
                                <p class="product-description">{{ product.summary }}</p>
                                <p> <i class="fas fa-euro-sign"></i> {{ product.price }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <nav>
            <div class="paginator">
                {% if products.has_other_pages %}
                <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}"><i
                                class="fas fa-arrow-left"></i></a></li>
                    {% else %}
                    <li class="disabled page-item page-link"><i class="fas fa-arrow-left"></i></li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}"><i
                                class="fas fa-arrow-right"></i></a></li>
                    {% else %}
                    <li class="disabled page-item page-link"><i class="fas fa-arrow-right"></i></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</section>
{% endblock %}