{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row  info-container">
        <div class="col">
            <div class="card title-card">
                <div class="row">
                    <div class="col">
                        <img src="{{MEDIA_URL}}{{product.image}}" alt="{{product.title}}" class="product-image">
                    </div>
                    <div class="col">
                        <h1>{{ product.title }}</h1>
                        <h4>{{ product.category}}</h4>
                        <p>{{ product.summary }}</p>
                        <em>
                            <p>{{ product.price }}</p>
                        </em>
                    </div>
                </div>
            </div>

        </div>
        <div class="col description-col">
            <div class="card desc-card">
                <p>{{ product.description}}</p>
                <form method="post" action="{% url 'add_to_cart' product.id%} " class="add-prod">
                {% csrf_token %}
                    <div class="input-group" class="quantity">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}