@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:500|Norican&display=swap');
/* Colors */

$white: #F2F2F2;
$cream: #F2D0A7;
$invertCream: #0d2f58;
$dark: #404040;
$brown: #BF9969;
$mahog: #735A3D;
$gold: #BF9039;
$invertDark: #bfbfbf;
$invertWhite: #0d0d0d;

/* Mixins */
@mixin title {
  font-family: 'Norican', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

@mixin text {
  font-family: 'Arima Maduri', sans-serif;
  font-weight: 500;

}

/* Navbar */
#navbar {
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 3px #404040;
}

#searchbar {
  justify-content: center;
  align-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  opacity: 1;
}

.cart-link {
  color: $dark !important;
}

.fa-stack[data-count]::before {
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count integer);
  font-size: 30%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: $dark;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: red;
  border-style: solid;
}

.fa-circle {
  color: #DF0000;
}


.btn-success {
  background-color: $dark;
  border-color: $dark;
  color: $white;

  &:hover,
  &:active {
    color: $invertWhite;
    background-color: $invertDark;
    border-color: $invertDark;
  }
}

.btn-primary {
  background-color: $cream;
  border-color: $cream;
  color: $dark;

  &:hover,
  &:active {
    background-color: $invertCream;
    border-color: $invertCream;
    color: $cream;
  }
}

/* Main */
html  {
  margin: 0px;
  padding: 0px;
}
body{
  /*min-height: 100vh;
  min-width: 99%;
  max-width: 99%;
  
  padding: 0; */
  padding-top: 65px;
  height: 100%;
  @include text;
  background-color: $white;
  position: 
  relative;
  margin: 0;
  max-width: 100%;
}

.push {
  padding-top: 120px !important;
}

.landing-title {
  color: black;
  font-size: 52px;
  text-shadow: 1px 2px white;
}

.landing-text {
  color: black;
  font-size: 19px
}

.title {
  @include title;
}

.img-container {
  min-width: 100%;
  position: relative;
  text-align: center;
  padding-top: 35px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-right {
  position: relative;
  margin-top: 8px;
  color: black;
}

.landing-image {
  height: 40rem;
  border-radius: 27px;
}

.about {
  padding-top: 25px;
}

.categories {
  padding-top: 15px;
}

.info-image {
  width: 350px;
  height: 350px;
  align-items: center;
  border-radius: 20px;
}

.cat-row {
  padding: 14px;
}

.link-unstyled {

  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
  }
}
.link-unstyled-1:hover {
    color: white;
}

.c-form { 
  width: 60%;
  margin-left: 20%;
}


.cat-container {
  /* padding: 4px; */
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  padding-top: 12px;
  padding-bottom: 25px;

  &:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.a-img-cont {
  width: 70%;
  height: 70%;
  padding: 15px;
}
/* Product Styles */
.form-group {
  display: inline;
}

.form-margin {
  border-radius: 0px 5px 5px 0px;
}

.info-container {
  margin: 4px 10px;
  padding-bottom: 20px;
  padding-top: 12px;
}

.title-card {
  padding-top: 50px;
  padding-bottom: 25px
}

.prod-section {
  padding: 16px;
  margin-top: 12px;
}

.product-image {
  width: 240px;
  height: 240px;
  border-radius: 15px;
  padding: 2px 4px;
}

.description-col {
  padding: 4px 4px;
  margin: 4px 10px;
}


.desc-card {
  padding: 10px;
}

.panel-default {
  border-color: transparent;
  padding: 18px;
  border: 4px;
}

.card:hover {
  -webkit-box-shadow: 9px 9px 7px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
  box-shadow: 0 9px 7px rgba(0, 0, 0, 0.16), 0 4px 8px rgba(0, 0, 0, 0.23);
}

.panel-body {
  height: 100%;
  background-color: white;

  &:hover {
    transition: 0.4s all ease-in-out;
    background-color: $dark;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    border: $dark;
    color: $white
  }
}

.card-img-top {
  max-height: 250px;
  min-height: 250px;
  border-radius: inherit;
}

.card-img-top-mfy {
  max-height: 200px;
  min-height: 200px;
  border-radius: inherit;
  width: 100%;
}

#quantity-bar {
  width: 40%;
  max-width: 40%;
}

.detail-image {
  width: 100%;
  border-radius: 12px;
  height: 65vh;
}

#basket-section {
  padding-top: 25vh;
}

.price {
  font-size: 26px;
  padding-left: 12px;
}

.desc-area {
  margin-top: 25px;
}

/* Pagination Styling */
.page-link {
  background-color: $dark;
  border-color: $dark;
  color: $white;

  &:hover {
    color: $invertWhite;
    background-color: $invertDark;
    border-color: $invertDark;
  }

  &.active {
    color: $dark;
    background-color: $invertDark;
    border: $invertDark;
  }

}

/* Profile Styles */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/* Cart Styling */
section {
  padding-top: 12px;
  min-height: 75vh;
}

.basket {
  padding-top: 12px;
}

.cart-container {
  padding: 18px;
  margin-top: 35px;
  border-radius: 12px;
  margin-bottom: 35px;

}

.items-container {
  background-color: $invertDark;
  margin: 12px;
  border-radius: 12px;
  padding: 6px;
  box-shadow: 1px 1px 3px 1px #404040;
}

.form-control[name=quantity] {
  border-radius: 5px 0px 0px 5px;
  background-color: $dark;
  border: $dark;
  color: $white
}
.form-control[name=detailed_quantity] {
  border-radius: 5px 0px 0px 5px;
  background-color: $dark;
  border: $dark;
  color: $white
}
.total-container {
  background-color: $invertDark;
  margin: 12px;
  padding: 55px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 1px 1px 3px 1px #404040;

}

.cart-image {
  width: 125px;
  height: 125px;
}




.ch-pr-row {
  margin: 4px;
  padding: 5px;
}

.but-row {
  margin-left: 35px;
}

/* Footer */
#sticky-footer {
  background-color: $dark;
  position: absolute;
  width: 100%;
  padding: 120px;
  border: 1px solid $dark;
}

.unordered {
  list-style-type: none;
}

.text-muted .redir {
  color: #6c757d !important;
  margin-left: 417px;
}

#cart {
  background-color: $invertDark;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  color: $dark;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-left: -18px;
}


/* Media Queries */

/* Phones here */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  /* Styles */
  body {
    max-width: 100%;
  }
  section {
    padding-top: 45px;
  }

  /* Landing Styles */
  .img-container  {
    padding-top: 12px;
  }
  .landing-title {
    padding: 12px;
  }
  .landing-image {
    width: 100%;
    height: inherit;
    border-radius: 0px;
  }
  .bottom-right {
    position: static;
    padding-top: 12px;
    padding-left: 35px;
  }

  .about {
    padding-top: 25px;
    padding-left: 23px;
  }

  .categories {
    padding-bottom: 24px;
  }

  .cat-container {
    width: 100%
  }
  .c-form {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }  
  
  /* All Products  */
  .panel-default {
    padding: 8px;
    margin: 4px;
  }

  .mbv-search {
    width: 70%;
    margin-right: 12px;
    margin-left: 50px;
  }

  .margin {
    margin: 12px;
  }

  .text-muted .redir {
    color: #6c757d !important;
    margin-left: 27px;
  }

  /* Detailed View */
  .detail-image {
    height: 35vh;
  }

  #basket-section {
    padding-top: 15px;
  }

  .total-container {
    width: 100%;
    padding: 12px;
  }

  .cart-container {
    margin-top: 8px;
    padding-top: 65px;
    width: 100%;
    max-width: 100%;
    margin-left: -12px;
  }

  .remove-but {
    margin-left: 301px;
    margin-bottom: 7px;
  }

  .but-row {
    margin-left: 75px;
  }
  .items-container,
  .total-container {
    width: 100%;

  }

  /* footer */

  #sticky-footer {
    flex-shrink: none;
    background-color: $dark;
    position: absolute;
    width: 100%;
    padding: 4px;
  }

  .form-control[name=quantity] {
    margin-top: 16px;
  }
}





/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
  .img-container  {
    padding-top: 35px;
  }
  .landing-image {
    height: 40rem;
    border-radius: 27px;
    margin-left: 4px;
    margin-right: -12px;
  }

  .bottom-right {
    position: static;
    padding-top: 12px;
    padding-left: 35px;
  }

  #basket-section {
    padding-top: 120px;
  }

  .info-image {
    width: 275px;
    height: 250px;
    align-items: center;
    border-radius: 20px;
  }
  .items-container,
  .total-container {
    width: 100%;
  }

  .text-muted .redir {
    color: #6c757d !important;
    margin-left: 330px;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body {
    max-width: 100%;
  }
  .img-container  {
    padding-top: 35px;
  }
  .detail-image {
    height: 35vh;
  }
  .mbv-search {
    width: 70%;
    margin-right: 12px;
    margin-left: 200px;
  }

  #basket-section {
    padding-top: 80px;
  }
  .contact {
    padding-top: 45px;
  }
  .items-container {
    background-color: #bfbfbf;
    margin: 12px;
    border-radius: 12px;
    /* padding: 6px; */
    /* margin: 45px; */
    width: 100%;
  }

  .remove-but {
    margin-left: 145px;
  }

  .total-container {
    width: 100%;
    padding: 12px;
  }
}