/* Navbar */

/* Main */
.add-prod{
  margin: 3px;
}

/* Content */

/* Product Styles */
.info-container {
  margin: 4px 10px
}
.title-card {
  padding-top: 50px;
  padding-bottom: 25px
}
.product-image{
  width: 240px;
  height: 240px;
  border-radius: 15px;
  padding: 2px 4px;
}
.description-col {
  padding: 4px 4px;
  margin: 4px 10px;
}
.desc-card {
  padding: 10px;
}
/* Profile Styles */
.account-img{
    height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
/* Footer */
#sticky-footer {
    flex-shrink: none;}

/* Media Queries */


