{% extends 'base.html' %}
{% block title %}
Confirm New Password
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<section class="container">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form | crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}