{% extends 'base.html' %}
{% block title %}
Your Cart
{% endblock %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<section class="container cart-container">
    <div class="row">
        <div class="items-container">
            <div class="container basket">
                <div class="row">
                    <div class="col">
                        <h2 class="title cart-title">My Cart</h2>
                        <small><a href="{% url 'products'%}">Continue shopping?</a></small>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <hr>
                {% for item in cart_items %}
                {% if item %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="{{MEDIA_URL}}{{item.product.image}}" alt="{{item.product.title}}" class="cart-image">
                    </div>
                    <div class="col-12 col-md-4">
                        <h5>{{ item.product.title }}</h5>
                        <p class="text"> {{ item.product.summary }}</p>
                        <p class="price"><i class="fas fa-euro-sign"></i> {{ item.product.price }}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <form class="form-inline" method="post" action="{% url 'change_cart' item.id %}">
                            {% csrf_token %}
                            <!--Form to amend item quantity-->
                            {{ form | crispy }}
                            <div class="form-group form-margin">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <select name="quantity" class="form-control">
                                        {% for i in i_range %}
                                        {% if i == item.quantity %}
                                        <option value="{{item.quantity}}" selected>{{item.quantity}}</option>
                                        {% else %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endif %}
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success form-margin"><i class="fas fa-edit"></i>
                                Amend</button>
                        </form>
    <!-- Action to remove item-->
                        <small><a href="{% url 'remove_from_cart' item.product.id%}">Remove?</a></small>
                    </div>
                </div>
                {% endif %}
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="total-container">
            <div class="flex-row">
                <h3 class="price">Total: <i class="fas fa-euro-sign"></i> {{ total }}</h3>
            </div>
            <!-- Checkout follow on-->
            <div class="row but-row">
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i
                        class="fas fa-cash-register"></i> Checkout</a>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}