{% extends 'base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row row-flex">
        {% for item in cart_items %}
        {% if item %}
        <div class="row cart-row">
            <div class="col">
                <img src="{{MEDIA_URL}}{{item.product.image}}" alt="{{item.product.title}}"
                    class="cart-image img-responsive">
            </div>
            <div class="col">
                <h3>{{ item.product.title }}</h3>
                <p class="product-description">{{ item.product.description }}</p>
                <p>{{ item.product.price }}</p>
            </div>
            <div class="col amend-prod">
                <p>
                    <form class="form-inline" method="post" action="{% url 'change_cart' item.id %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty</div>
                                <input name="quantity" type="number" min="1" max="999" class="form-control">
                                <div class="input-group-addon">{{item.quantity}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"
                                aria-hidden="true"></span>Amend</button>
                    </form>
                    <form action="{% url 'remove_from_cart' item.product.id%}">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-warning">Remove</button>
                    </form>
                </p>
            </div>
        </div>
        <br>
        {% else %}
        <H4> Nothing to see here, would you like to <a href="{% url 'products' %}">see more?</a></H4>
        {% endif %}
        {% endfor %}

        <div class="col">
            <p>Total</p>
            <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span
                    class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
        </div>

    </div>
</div>
{% endblock %}