 {% block nav %}
 <header id="navbar">
     <nav class="navbar navbar-expand-lg navbar-light navy">
         <a class="navbar-brand title" href="{% url 'home' %}">Antiques, Curiouse & Artefacts</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'home' %}">Home</a>
                 </li>
                 <li class="nav-item">
                     <a href="{% url 'products' %}" class="nav-link">All Products</a>
                 </li>
             </ul>
             <div class="align-center mx-auto collapse navbar-collapse" id="searchbar">
                 <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                         name="q">
                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                 </form>
             </div>
             <ul class="navbar-nav ml-auto">
                 {% if user.is_authenticated %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'logout' %} ">Logout</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'profile' %} ">Profile</a>
                 </li>
                 {% else %}
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'login' %}">Login</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'register'%} ">Register</a>
                 </li>
                 {% endif %}
             </ul>
         </div>
         <div>
             <ul class="navbar-nav ml-auto">
                 <a href="{% url 'view_cart' %}" class="nav-link cart-link">
                     <li class="nav-item">
                         <span class="fa-stack fa-2x badge"
                             data-count="{% if product_count %}{{ product_count }}{% endif %}">
                             <i class="fa fa-circle fa-stack-2x"></i>
                             <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                         </span>
                     </li>
                 </a>
             </ul>
         </div>
     </nav>
 </header>
 {% endblock %}